# Entorno virtual de Python
.venv/

# Artefactos de Python compilados
__pycache__/
*.py[cod]

# Ignorar todos los modelos Whisper, excepto README
models/whisper/*
!models/whisper/README.md

# Ignorar todos los archivos pesados de align
models/align/*

# Ignorar todos los archivos pesados de pyannote
models/pyannote/*.bin